name: CI

on:
  push:
    branches: [ main ]
    tags:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Build
      run: zig build --release=safe
      timeout-minutes: 5

    - name: Run tests
      run: zig build test --release=safe --summary all
      timeout-minutes: 5

    - name: Test demo server
      run: python3 test_demo_server.py
      timeout-minutes: 5
